Section A

QUESTION 1

In [ ]:
#Question 1

print("Hello Python")

QUESTION 2

In [ ]:
#Question2
a=int(input("Enter the 1st number="))
b=int(input("Enter the 2nd number="))
Add=a+b
Div=a/b
print("Addition of 1st and 2nd number",Add)
print("Division of 1st and 2nd number",Div)

QUESTION 3

In [ ]:
#Question 3
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

QUESTION 4

In [ ]:
#Question 4
x = int(input("Enter the X value:"))
y = int(input("Enter the Y value:"))
 
temp = x
x = y
y = temp
 
print("Value of x:", x)
print("Value of y:", y)

Enter the X value:50
Enter the Y value:20
Value of x: 20
Value of y: 50

QUESTION 5

In [ ]:
#Question No.5
import random
a=random.random()
print("")

#Section b

QUESTION 1

In [ ]:
#Question 1
km=int(input("Enter the kilometer value:"))
miles=0.621*km
print(km,"Kilometers =",miles,"Miles" )

QUESTION 2

In [ ]:
#Question 2
Celsius=int(input("Enter the Celsius Value:"))
Fahrenheit=(Celsius*1.8)+32
print(Celsius,"Celsius =",Fahrenheit,"Fahrenheit")

QUESTION 3

In [ ]:
#Question 3
import calendar
yyyy=int(input("Enter the year (yyyy):"))
mm=int(input("Enter the month (mm): "))
print(calendar.month(yyyy, mm))

QUESTION 5

In [ ]:
#Question 5

x = int(input("Enter the X value:"))
y = int(input("Enter the Y value:"))
x,y=y,x
print("X=",x)
print("Y=",y)

Enter the X value:50
Enter the Y value:10
X= 10
Y= 50

Section C

QUESTION 1

In [ ]:
#Question 1
num=int(input("Enter the value:"))
if num>0:
  print("Number is positive")
elif num<0:
  print("Number is negative")
else:
 print("Number is zero")

QUESTION 2

In [ ]:
#Question 2
num=int(input("Enter the value="))
if num%2==0:
  print("The number is Even")
else:
  print("The number is Odd")

QUESTION 3

In [ ]:
year = int(input("Enter the year: "))
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a leap year.")
elif year % 400 == 0:
    print(year, "is a leap year.")
elif year % 100 == 0:
    print(year, "is not a leap year.")
else:
    print(year, "is not a leap year.")

QUESTION 4

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
   
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

QUESTION 5

In [ ]:
lower_limit = 1
upper_limit = 10000

for num in range(lower_limit, upper_limit+ 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Section D

QUESTION 1

In [ ]:
#Question 1
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 10
The factorial of 10 is 3628800

QUESTION 2

In [ ]:
#Question 2
num = int(input("Display multiplication table of? "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

QUESTION 3

In [ ]:
#Question 3
nterm=int (input("Enter the terms to be printed:"))
n1=1
count=0
if nterm<=0:
  print("Please enter a positive integer, the given number is not valid")
elif nterm==1:
  print ("The Fibonacci sequence of the number upto:",nterm, ":")
  print (n1)
else:
    print ("The Fibonacci sequence of the number is:")
while count <nterm:
  print (n1)
  nth=n1+n2
  n1=n2
  n2=nth 
  count +=1

QUESTION 4

In [ ]:
num = int(input("Enter a number: "))
sum = 0 
temp = num 
while temp > 0:
  digit = temp%10
  sum += digit**3
  temp = temp//10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

QUESTION 5

In [ ]:
lower  = int(input("enter the lower limit: "))
upper = int(input("enter the upper limit: "))
for i in range(lower, upper+1):
  sum =0
  num = i
  while(i!=0):
    digit=i%10
    sum = sum + (digit**3)
    i = i//10
  if num == sum:
    print(num)

QUESTION 6

In [ ]:
#question 6
num=int(input("Enter the natural number:"))
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Section E

1. Write a Python Program to find sum of array?

In [ ]:
arr = [12, 3, 4, 15, 25]
for i in arr:
  sum += i
print(sum)

Write a Python Program to find largest element in an array?

In [ ]:
arr = [12, 3, 4, 15, 25, 923]
largest = 0
for i in range(len(arr)):
  if arr[i] > largest:
    largest = arr[i]
print(largest)

Section F

QUESTION 1

In [ ]:
#Quesion 1
Numeric= [12, 8, 9, 2, 5]
sum=sum(Numericlist)
print(list)
print("sum of list: ",sum)

QUESTION 2

In [ ]:
#Question3
print(list)
smallest=min(list)
print("Smallest number in the list",smallest)

QUESTION 3

QUESTION 4

In [ ]:
#Question 4
print(list)
largest=max(list)
print("Largest number  in the list",largest)

QUESTION 5

In [ ]:
#Question5
 
# print second maximum element using sorted() method
print("Second largest element is:", sorted(list)[-2])

QUESTION 7

In [ ]:
#Question7
print(list)
for num in list:
  if num%2==0:
    print(num,end=" ")

QUESTION 8

In [ ]:
#Question8
print(list)
for num in list:
  if num%2==1:
    print(num,end=" ")

QUESTION 9

In [ ]:

#Question9
def cloning(List):
 list=[2,4,6,89,7]
List=cloning(list)
print("Before cloning",list)
print('After cloning',List)